JR
*~
*.swp
Makefile
.conf
tools/last-file.tmp
bootstrap/collect.html
bootstrap/collect.r
bootstrap/common-rules.html
bootstrap/common-rules.r
bootstrap/expand-macros.html
bootstrap/expand-macros.r
bootstrap/form-error.html
bootstrap/form-error.r
bootstrap/module.html
bootstrap/module.r
bootstrap/niwashi.html
bootstrap/niwashi.r
bootstrap/rule-arguments.html
bootstrap/rule-arguments.r
bootstrap/trees.html
bootstrap/trees.r
bootstrap/trees-macros.html
bootstrap/trees-macros.r
compiler/optimizer.html
compiler/optimizer.r
compiler/parser.html
compiler/parser.r
compiler/specials.html
compiler/specials.r
